<div class="footer">
  <div class="row center">
    <div class="col s12">
      <%= image_tag "https://netshow.me/images/logo-nsm-small-blue.svg" %>
    </div>
    <div class="col s12"></div>
  </div>

</div>
